html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
html::-webkit-scrollbar {
  display: none;
}

/** Enabled Step 3... */
md-toolbar {
  padding-left: 150px;
}
md-toolbar h3 {
  margin: auto;
  font-weight: 500;
  -webkit-app-region: drag; /* ドラッグ可能に */
  -webkit-user-select: none; /* ドラッグはテキスト選択と競合するので禁止 */
}
md-list {
  height: 100%;
  overflow-y: scroll;
}
md-list::-webkit-scrollbar {
  display: none;
}
md-list-item > button {
  width:100%;
  text-align:left !important;
}
md-list-item:nth-child(odd){
	/*background: #ff8080;*/
  background: #f2f2f2;
}
md-input-container {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}
md-content h1{
  color: #E91E63;
  font-weight: 500;
}
md-content p {
  font-size: 1.2em;
}
md-content pre {
  color: #eeeeee;
  background-color: #424242;
  padding: 10px 5px;
  overflow-x: auto;
  font-size: 1.2em;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}
#main {
  height: 92%;
  overflow-y: scroll;
}
#main::-webkit-scrollbar {
  display: none;
}
